@charset "utf-8";

        .conteudo-4{
            
            color:rgb(68, 63, 63);
            margin-bottom: 0px;
            padding-bottom: 30px;
            width: 100%;

        }
         h2 {
           text-align: center;
           padding-top: 50px;
         }

         .conteudo-4 p{
            text-align: center;
            padding-bottom: 50px;
            
         }

         form{
        
            background-color:white;
            margin-left: 50px;
            margin-right: 50px;
            margin-bottom: 50px;
            box-shadow: 2px 5px 15px rgba(128, 128, 128, 0.486);
            padding: 50px 20px 50px 20px;
            
         }

         .form-group{
            margin-top: 5px;
         }

         .form-group label{
           font-weight: bold;
           text-transform: uppercase;
           
         }

         .enviar{
            margin-top: 30px;
            padding: 5px 20px;
            border-radius: 0px;
            font-size: 18px;
            font-weight: bold;
            color:#fff;
            text-transform: uppercase;
            
         }

         .conteudo-5{
            margin-left: 50px;
            width: 100%;
    
         }

         .conteudo-5, h5{
        
            padding-left: 30px;
            padding-right: 0px;

          


         }

         .conteudo-5 address{
            font-weight: 500;
            padding: 15px 10px;
            text-align: justify;
           

            
         }


    